*{
    margin: 0;
    /* text-align: center;     */
}

.App{
    height:100vh;
    width: 100vw;
    // overflow-x: hidden;
    background-color: #f3f7f7;
}

.App-Header{
    height: 2.8rem;
    padding: 3px;
    border-bottom: solid 1px blue;
    margin-bottom: 1rem;

    background-color: aqua;
}

.content{
    padding: 1rem;
}

@import './header';
@import "~bootstrap/scss/bootstrap";